@import url(../main.css);

/*about secondary page*/

#intro-secondary {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../../media/images/bcgr-img/about-intro-bckgr.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.intro-wrapper {
  align-items: center;
  padding-top: unset;
}
.intro-title-secondary {
  width: 70%;
}
.features-motto-secondary {
  width: 50%;
}

#team {
  padding: 80px 0 120px 0;
  background-color: var(--secondary);
}
.team-general-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 80px;
}
.single-team-member-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 30%;
}
.team-member-name {
  margin-top: 7px;
}
.team-member-position {
  margin-top: 5px;
}
